.buttonStyle{
    width: 80px;
    height: 36px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.buttonStyle:hover{
    width: 80px;
    height: 36px;
    border: none;
    background:#85D1D1;
    border-radius: 4px;
    margin-left: 10px;   
}
.buttonStyle:active{
    background:#8CCACD;
}
.iconImgBox{
    margin-left: 5px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.iconImg{
    width: 18px;
    height: 18px;
}