.AddExperienceBox{
    position: fixed;
    top:5%;
    left: 10%;
    /* transform: translate(-400px, 0px); */
    width: 80vw;
    height: 90vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    z-index: 2;
    /* 為了讓input框置中(margin: 0 auto;) */
    /* text-align: center; */
    overflow: scroll;
}
.imageSection{
    width: 100%;
    height: 500px;
    background: #CCCCCC;
    border-radius: 6px 6px 0 0;
}
.images{
    width: 100%;
    height: auto;
    /* padding-top: 30px;
    padding-bottom: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
}
.imageBox{
    width: 100px;
    height: 50px;
    background: #CCCCCC;
    margin-left: 24px;
}
.boxTitle{
    padding-top: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    /* text-align: center; */
    color: #666;
}
.icn_close{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}
.inputsBox{
    width: 100%;
    height: auto;
    /* padding-top: 30px;
    padding-bottom: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
.subtitle{
    margin-right: 40px;
}
.postContent{
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
}
.subtitleBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.inputTitle{
    margin-bottom: 5px;
}
.titleInput{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: text;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
}
.postInput{
    width: 20vw;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: text;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
}
.diaryInput{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: text;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
}
.postInput ::placeholder{
    color: #CCCCCC;
}
.titleInput::placeholder{
    color: #CCCCCC;
}
.diaryInput::placeholder{
    color: #CCCCCC;
}
.btn_upload{
    width: 200px;
    height: 40px;
    color: #666;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background:#FFFFFF;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    cursor:pointer;
    margin-bottom: 15px;
    margin-left: 24px;
}
.btn_submit{
    width: 100px;
    height: 40px;
    color: #666;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background:#85D1D1;
    border-radius: 5px;
    border: 0 none;
    cursor:pointer;
    margin-bottom: 15px;
    margin-top: 30px;
}
.saveBox{
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
}
.btn_singInText{
    font-size: 16px;
    font-weight: 400;
    /* display: flex;
    align-items: center; */
    text-align: center;
    color: #666;
    cursor: pointer;
    margin-bottom: 20px;
}