.mapStyle{
    /* baseprofile:tiny; */
    fill:#7c7c7c;
    height:100vh;
    stroke:#ffffff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
    width:50vw;
    position: relative;
    /* width: 100%; */
}
path {
    stroke: white;
    fill: #DFE2B3;
    transition: 0.7s;
    cursor: default;
}
    
path:hover {
    fill: #96a335;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.active{
    fill: #C5D265;
}

.inactive{
    fill: #DFE2B3;
}

.pinBox{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 500px;
    /* margin: auto; */
    z-index: 1;
}
.kinmen_map{
    transform: translate(320px,0px);
}


/* ----------- 縣市名稱tooltip ----------- */
.kh_tooltip{
    transform: translate(420px, 1030px);
}
.pt_tooltip{
    transform: translate(550px, 1200px);
}
.tn_tooltip{
    transform: translate(400px, 930px);
}
.cyi_tooltip{
    transform: translate(500px, 850px);
}
.cyo_tooltip{
    transform: translate(400px, 850px);
}
.yul_tooltip{
    transform: translate(420px, 750px);
}

.ch_tooltip{
    transform: translate(480px, 650px);
}

.tc_tooltip{
    transform: translate(520px, 570px);
}

.ml_tooltip{
    transform: translate(560px, 480px);
}

.hci_tooltip{
    transform: translate(610px, 420px);
}

.hco_tooltip{
    transform: translate(620px, 380px);
}

.ty_tooltip{
    transform: translate(670px, 340px);
}

.ntp_tooltip{
    transform: translate(750px, 300px);
}

.tp_tooltip{
    transform: translate(800px, 270px);
}

.kl_tooltip{
    transform: translate(950px, 270px);
}


.yl_tooltip{
    transform: translate(980px, 500px);
}

.tt_tooltip{
    transform: translate(820px, 1000px);
}

.hl_tooltip{
    transform: translate(900px, 750px);
}

.nt_tooltip{
    transform: translate(690px, 720px);
}

.ph_tooltip{
    transform: translate(250px, 750px);
}

.km_tooltip{
    transform: translate(250px, 500px);
}



/* ------------ 縣市旗子 ----------- */
.Keelung_city{
    transform: translate(910px, 315px);
}

.Taipei_city{
    transform: translate(870px, 330px);
}

.New_taipei_city{
    transform: translate(860px, 400px);
}

.Taoyuan_country{
    transform: translate(780px, 360px);
}

.Hsinchu_city{
    transform: translate(710px, 410px);
}

.Hsinchu_country{
    transform: translate(760px, 450px);
}

.Miaoli_country{
    transform: translate(680px, 500px);
}

.Taichung_city{
    transform: translate(650px, 580px);
}

.Changhua_country{
    transform: translate(580px, 660px);
}

.Nantou_country{
    transform: translate(710px, 700px);
}

.Yunlin_country{
    transform: translate(540px, 720px);
}

.Chiayi_city{
    transform: translate(580px, 785px);
}

.Chiayi_country{
    transform: translate(640px, 810px);
}

.Tainan_city{
    transform: translate(540px, 900px);
}

.Kaohsiung_city{
    transform: translate(645px, 920px);
}

.Pingtung_country{
    transform: translate(620px, 1080px);
}

.Yilan_country{
    transform: translate(890px, 500px);
}

.Hualien_country{
    transform: translate(830px, 700px);
}

.Taitung_country{
    transform: translate(740px, 970px);
}

.Penghu_country{
    transform: translate(360px, 760px);
}

.Kinmen_country{
    transform: translate(350px, 510px);
}
